<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pack.daniela.pueba2" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.orm.SugarApp"
       >
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="pack.daniela.pueba2" />
        <meta-data android:name="DATABASE" android:value="prueba2.db" />
        <uses-permission android:name="android.permission.CAMERA"/>
        <uses-feature android:name="android.hardware.camera" android:required="false" />


        <activity
            android:name="pack.daniela.pueba2.Principal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pack.daniela.pueba2.Activity2"
            android:label="@string/title_activity_activity2" >
        </activity>
        <activity
            android:name="pack.daniela.pueba2.Activity3"
            android:label="@string/title_activity_activity3" >
        </activity>
        <activity
            android:name="pack.daniela.pueba2.Activity4"
            android:label="@string/title_activity_activity4" >
        </activity>
        <activity
            android:name="pack.daniela.pueba2.Activity5"
            android:label="@string/title_activity_activity5" >
        </activity>
        <activity
            android:name="pack.daniela.pueba2.Activity6"
            android:label="@string/title_activity_activity6" >
        </activity>
        <activity
            android:name="pack.daniela.pueba2.Activity7"
            android:label="@string/title_activity_activity7" >
        </activity>
        <activity
            android:name="pack.daniela.pueba2.Activity8"
            android:label="@string/title_activity_activity8" >
        </activity>
        <activity
            android:name="pack.daniela.pueba2.MiTareaAsincrona"
            android:label="@string/title_activity_activity7" >
        </activity>
        <provider
            android:name=".MyFileContentProvider"
            android:authorities="com.example.camerademo"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>
